<tr>
    {% if record_number %}
        <td>{{ record_number }}</td>
    {% else %}
        <td></td>
    {% endif %}

    {% if record_type %}
        <td>{{ record_type }}</td>
    {% else %}
        <td></td>
    {% endif %}

    {% if project_name %}
        <td>{{ project_name }}</td>
    {% else %}
        <td></td>
    {% endif %}

    {% if address %}
        <td>{{ address }}</td>
    {% else %}
        <td></td>
    {% endif %}

    {% if expiration_date %}
        <td>{{ expiration_date }}</td>
    {% else %}
        <td></td>
    {% endif %}

    {% if short_notes %}
        <td>{{ short_notes }}</td>
    {% else %}
        <td></td>
    {% endif %}

    {% if record_link %}
        <td><a href="{{ record_link }}">View Record</a></td>
    {% else %}
        <td></td>
    {% endif %}
</tr>